
$main-color: #69ca62;
$remgika: #c7cda4;
  /*********************************************************
  **********************************************************
  ************************* ADD PLAYGROUND *****************
  **********************************************************
  **********************************************************/
  header{
      background-color: $remgika;
      text-align: left;
      display: flex;
      align-items: center;
      height: 50px;
      div{
          font-size: 40px;
          a:visited{
              color: black;
          }
      }

  }
.addPlaygroung-form{
    height: 100vh;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        border: solid 2px yellow;
        width: 80%;
        .input{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 12px;
            label{
                width: 20%;
                text-align: left;
                font-size: 19px;
            }
            input{
                width: 70%;
                height: 32px;
                border: solid 2px rgba(80, 75, 75, 0.514);
                font-size: 18px;
                background-color: rgba(0, 0, 0, 0.219);
                border-radius: 5px;
            }
            input:hover{
                background-color: rgba(255, 255, 255, 0.219);

            }
        }
        .codeAndCity{
            margin: 0;
            padding: 0;
            display: flex;
            width: 100%;
        }
        .Playgroung-description{
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            textarea {
                resize: none;
                width: 90%;
                background-color: rgba(0, 0, 0, 0.219);
              }
              textarea:hover{
                background-color: white;
              }

        }
        .addPlay-submit,.addPlay-submit:focus{
            margin-top: 10px;
            width: 100px;
            height: 40px;
            background-color: #69ca62;
            border-radius: 10px;
            border: none;
        }
    }
    .addPlaygound-erreur{
        background-color: rgba(137, 43, 226, 0.534);
        width: 80%;
        height: 30vh;
        position: absolute;
        top: 100;
        overflow: hidden;
    }
}