$main-color: #69ca62;
$remgika: #c7cda4;
/*********************************************************
  **********************************************************
  ************************* ADD PLAYGROUND *****************
  **********************************************************
  **********************************************************/
header {
  background-color: $remgika;
  text-align: left;
  display: flex;
  align-items: center;
  height: 50px;
  div {
    font-size: 40px;
    a:visited {
      color: black;
    }
  }
}
.addPlaygroung-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  #addPlay-img {
    width: 50%;
    margin-bottom: 10px;
    img {
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      
    }
  }
  form {
    width: 80%;
    background-color: rgba(128, 128, 128, 0.479);
    border-radius: 5px;
    p {
      color: rgb(231, 114, 114);
      font-size: 15px;
    }
    ul {
      background-color: #e6e9d5;
      padding: 0;
      border: solid 3px #697a05;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-width: 1px 1px 1px;
      border-style: none solid solid;
      list-style-type: none;
      text-align: left;
      border-image: initial;
      border-top: none;
      width: 90%;
      margin-left: 15px;

      li {
        margin: 5px;
        color: rgb(70, 30, 30);
        strong {
          font-weight: 400;
        }
      }
    }
    .fileNum {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 7px;
      margin-left: 15px;
      button {
        width: 40%;
        height: 30px;
        border-radius: 100px;
        border: 0;
        &:focus {
          outline: none;
        }
        outline: none;
      }
      p {
        margin-left: 10px;
      }
    }
    .input-transition {
      width: 90%;
      font-weight: 300;
      letter-spacing: 3px;
      background: rgb(249, 249, 250);
      color: rgb(14, 13, 13);
      border: none;
      padding: 9px;
      margin: 3px;
      border-radius: 5px;
      &::placeholder {
        color: black;
        letter-spacing: 2px;
        font-size: 1.3em;
        font-weight: 100;
      }
      &:focus {
        color: rgb(0, 0, 0);
        outline: none;
        border-bottom: 1.2px solid pink;
        font-size: 1em;
        transition: 0.8s all ease;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    .calender {
      display: flex;
      box-sizing: border-box;
      .example-custom-input {
        background-color: #306b99;
        width: 100%;
        color: white;
        border: none;
        padding: 8px;
        text-transform: uppercase;
        font-size: 11px;
        border-radius: 10px;
        outline: none;
        &:hover {
          background: greenyellow;
          color: black;
          transition: background-color 1s ease-out;
        }
      }
      .StartCalender {
        width: 50%;
        .Start {
          color: green;
        }
        .react-datepicker-wrapper {
          width: 100%;
          padding: 5px;
          .react-datepicker__input-container {
            input {
              width: 100%;
            }
            .react-datepicker__close-icon::after {
              background-color: rgba(240, 177, 118, 0.89);
            }
          }
        }
        .react-datepicker__tab-loop {
          .react-datepicker-popper {
            // top: -300px !important;
            left: 0px !important;
            border: solid 2 px red;
          }
          .react-datepicker-popper[data-placement^="bottom"]
            .react-datepicker__triangle,
          .react-datepicker-popper[data-placement^="top"]
            .react-datepicker__triangle,
          .react-datepicker__month-read-view--down-arrow,
          .react-datepicker__month-year-read-view--down-arrow {
            margin-left: 0px !important;
          }
        }
      }
      /**
 * ----------------------------------------
 * endcalender picker
 * ----------------------------------------
 */
      .EndCalender {
        width: 50%;
        .End {
          color: rgb(0, 51, 128);
        }
        .react-datepicker-wrapper {
          width: 100%;
          padding: 5px;
          .react-datepicker__input-container {
            input {
              width: 100%;
            }
          }
        }
        .react-datepicker__tab-loop {
          .react-datepicker-popper {
            // top: -300px !important;
            left: -120px !important;
          }
          .react-datepicker-popper[data-placement^="bottom"]
            .react-datepicker__triangle,
          .react-datepicker-popper[data-placement^="top"]
            .react-datepicker__triangle,
          .react-datepicker__month-read-view--down-arrow,
          .react-datepicker__month-year-read-view--down-arrow {
            margin-left: 90px !important;
          }
        }
      }
    }
    #myImage {
      color: rgb(129, 129, 194);
      font-size: 15px;
    }
    .addPlay-submit,
    .addPlay-submit:focus {
      width: 100px;
      height: 40px;
      background-color: #69ca62;
      border: none;
      padding: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 11px;
      border-radius: 10px;
      margin: auto;
      margin-top: 5px;
      outline: none;
      display: block;
      margin-bottom: 10px;
      &:hover {
        background: $main-color;
        color: white;
        transition: background-color 1s ease-out;
      }
    }
  }
  .addPlaygound-accept {
    background-color: rgba(109, 189, 102, 0.808);
    width: 70%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 20px;
    -webkit-animation: fade-out 7s 2s ease-out both;
    animation: fade-out 7s 2s ease-out both;
    p {
      color: white;
      font-size: 20px;
    }
    img {
      width: 50px;
    }
  }
  /**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
  @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
      display: block;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: block;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }

  .addPlaygound-erreur {
    background-color: rgba(137, 43, 226, 0.534);
    width: 80%;
    height: 30vh;
    position: absolute;
    top: 100;
    overflow: hidden;
  }
}

@media screen and (min-width: 840px) {
  .addPlaygroung-form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    #addPlay-img {
      width: 50%;
      margin-bottom: 10px;
      img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  .addPlaygroung-form {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
    padding: 30px;
    #addPlay-img {
      width: 50%;
      margin-bottom: 10px;
      img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
        
      }
    }
  }
}