$main-color: #69ca62;
$remgika: #c7cda4;
/*********************************************************
  **********************************************************
  ************************* ADD PLAYGROUND *****************
  **********************************************************
  **********************************************************/
header {
  background-color: $remgika;
  text-align: left;
  display: flex;
  align-items: center;
  height: 50px;
  div {
    font-size: 40px;
    a:visited {
      color: black;
    }
  }
}
.addPlaygroung-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  form {
    width: 80%;
      background-color: gray;

    .input-transition {
      width: 90%;
      font-weight: 300;
      letter-spacing: 3px;
      background: rgb(249, 249, 250);
      color: rgb(14, 13, 13);
      border: none;
      padding: 9px;
      margin: 7px;
      &::placeholder {
        color: black;
        letter-spacing: 2px;
        font-size: 1.3em;
        font-weight: 100;
      }
      &:focus {
        color: rgb(0, 0, 0);
        outline: none;
        border-bottom: 1.2px solid pink;
        font-size: 1em;
        transition: 0.8s all ease;
        &::placeholder {
          opacity: 0;
        }
      }
    }
    .addPlay-submit,
    .addPlay-submit:focus {
      width: 100px;
      height: 40px;
      background-color: #69ca62;
      border: none;
      padding: 12px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 11px;
      border-radius: 10px;
      margin: auto;
      outline: none;
      display: block;
      &:hover {
        background: $main-color;
        color: white;
        transition: background-color 1s ease-out;
      }
    }
  }
  .addPlaygound-erreur {
    background-color: rgba(137, 43, 226, 0.534);
    width: 80%;
    height: 30vh;
    position: absolute;
    top: 100;
    overflow: hidden;
  }
}
