
$clip-distance: 0.05;
$main-color: #69ca62;
$remgika: #c7cda4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", Arial, Helvetica, sans-serif;

}
.App {
  text-align: center;
  input:focus{
    outline: none;
  }
  button:focus{
    outline: none;
  }
  /*********************************************************
  **********************************************************
  ********************* NAVIGATION HEADER ******************
  **********************************************************
  **********************************************************/
  #navigation {
    height: 110px;
    color: black;
    // position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 2px #c7cda4;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    // display: none;
    .logo{
      width: 100px;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .left {
      #burger {
        margin: 0;
        padding: 0;
        width: 40px;
        font-size: 50px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        font-size: 0.9em;
        letter-spacing: 2px;
      }
      .avatar {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        box-shadow: -3px -1.5px 6px #505dd89f, rgb(197, 135, 135) 3px 2px 6px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  } 
  /*********************************************************
  **********************************************************
  ************************* SIDEBAR ************************
  **********************************************************
  **********************************************************/
 .sidebar {
    position: fixed;
    top : 110px;
    right: 0;
    background-color: $remgika;
    width: 200px;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    color: rgb(24, 16, 16);
    transform: translateX(100%);
    transition: all 0.2s;
    z-index: 1;
    .social {
      font-size: 1.4em;
      svg {
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .menu-item {
      margin: 15px 0;
      background-color: white;
      border-radius: 5px;
      a {
        color: rgb(22, 6, 6);
        text-decoration: none;
        svg {
          margin-right: 10px 
        }
      }
    }
  }
  .slide-right {
    transform: translateX(-0%) !important;
  }
  /*********************************************************
  **********************************************************
  ********************* WELCOME HOME PAGE ******************
  **********************************************************
  **********************************************************/
  .welcome {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    background-image: url("../img/b.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    position: sticky;
    /**********************************************************
    ************************ HEADER ***************************
    ***********************************************************/
    .welcom-header {
      height: 40px;
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px;
      .login-logout {
        display: flex;
        flex-direction: row;
        .login-button {
          background-color: #c7cda4;
          margin-right: 10px;
          width: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          a,
          a:visited {
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            color: black;
          }
        }
        .logout-button {
          background-color: #c7cda4;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          width: 90px;
          a,
          a:visited {
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;
            color: black;
          }
        }
      }
      .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 40px;
        text-align: center;
        font-size: 40px;
        background: linear-gradient(rgba(199, 205, 164, 0.787), #cacdf39f);
      }
    }
    /**********************************************************
  ************************ FIRST SECTION ********************
  ***********************************************************/
    .first-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px;
      img {
        width: 200px;
        margin: 0;
        padding: 0;
      }
      .remgika-texte {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-weight: 500;
          text-align: center;
        }
        p {
          font-weight: 300;
          font-size: 17px;
          text-align: center;
        }
      }
    }
    /**********************************************************
  ************************ SECOND SECTION *******************
  ***********************************************************/
    .second-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 150px;
      .direct-home {
        background-color: white;
        width: 70%;
        height: 60px;
        border-radius: 20px;
        box-shadow: -3px -1.5px 6px #505dd89f, rgb(197, 135, 135) 3px 2px 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a,
        a:visited {
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  /*********************************************************
  **********************************************************
  ********************* LOGIN PAGE *************************
  **********************************************************
  **********************************************************/
  #login{
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    header {
      display: flex;
      height: 50px;
      width: 100%;
      background-color: #c7cda4;
      .icon-go-back {
        height: 100%;
        text-align: center;
        font-size: 30px;
        a,
        a:visited {
          text-decoration: none;
          color: rgb(10, 10, 10);
        }
      }
    }
  /**********************************************************
  ************************ body login ***********************
  ***********************************************************/
    .login-body{
      display: flex;
      flex-direction: column;
      align-items: center;
      #login-img  {
        width: 50%;
      }
      .login-form {
        background-color: rgba(182, 166, 166, 0.24);
        display: flex;
        flex-direction: column;
        position: relative;
        width: 80%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        padding: 2rem;

        .input-transition {
          width: 90%;
          font-weight: 300;
          letter-spacing: 3px;
          background: rgb(249, 249, 250);
          color: rgb(14, 13, 13);
          border: none;
          border-bottom: 1px solid  black;
          padding: 9px;
          margin: 7px;
          &::placeholder {
            color: black;
            letter-spacing: 2px;
            font-size: 1.3em;
            font-weight: 100;
          }
          &:focus {
            color: rgb(0, 0, 0);
            outline: none;
            border-bottom: 1.2px solid pink;
            font-size: 1em;
            transition: .8s all ease;
            &::placeholder {
              opacity: 0;
            }
          }
        }
        .login-submit{
          padding: 12px;
          background: $remgika;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 11px;
          border-radius: 10px;
          margin: auto;
          outline: none;
          display: block;
          &:hover {
            background: $main-color;
            color: white;
            transition: background-color 1s ease-out;
          }
        }
        a,a:visited {
          text-decoration: none;
          color: rgb(8, 87, 151);
        }
        
        /**********************************************************
        ************************ Login animation*******************
        ***********************************************************/
        &::before {
          content: '';
          position: absolute;
          z-index: -2;
          left: -50%;
          top: -50%;
          width: 200%;
          height: 200%;
          background-color: #399953;
          background-repeat: no-repeat;
          background-size: 50% 50%, 50% 50%;
          background-position: 0 0, 100% 0, 100% 100%, 0 100%;
          background-image: linear-gradient(#399953, #399953), linear-gradient(#68972a, #659b20), linear-gradient(#3f120f, #441916), linear-gradient(#111213, #07090e);
          animation: rotate 16s linear infinite;
        }
        
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          left: 6px;
          top: 6px;
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          background: white;
          border-radius: 5px;
        }
        @keyframes rotate {
          100% {
            transform: rotate(1turn);
          }
        }
      }
    }
  }


  /*********************************************************
  **********************************************************
  ********************* SIGN UP PAGE ***********************
  **********************************************************
  **********************************************************/
  #sign-up{
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    header {
      position: relative;
      
      display: flex;
      height: 50px;
      width: 100%;
      background-color: #c7cda4;
      .icon-go-back {
        height: 100%;
        text-align: center;
        font-size: 30px;
        a,
        a:visited {
          text-decoration: none;
          color: rgb(10, 10, 10);
        }
      }
    }
  /**********************************************************
  ************************ body sign-up *********************
  ***********************************************************/
    .sign-body{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      #sign-img{
        display: none;
        width: 70%;
        height: 100px;
        border: solid 2px black;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .sign-form{
        background-color: rgba(182, 166, 166, 0.24);
        display: flex;
        flex-direction: column;
        position: relative;
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        padding: 1rem;
        .input-transition {
          width: 95%;
          font-weight: 200;
          letter-spacing: 3px;
          background: rgb(248, 248, 248);
          color: rgb(14, 13, 13);
          border: none;
          border-bottom: 1px solid  black;
          padding: 9px;
          margin: 7px;
          &::placeholder {
            color: black;
            letter-spacing: 2px;
            font-size: 1.3em;
            font-weight: 100;
          }
          &:focus {
            color: rgb(0, 0, 0);
            outline: none;
            border-bottom: 1.2px solid pink;
            font-size: 1em;
            transition: .8s all ease;
            &::placeholder {
              opacity: 0.2;
            }
          }
        }
        .login-submit{
          padding: 12px;
          background: $remgika;
          text-transform: uppercase;
          letter-spacing: 3px;
          font-size: 11px;
          border-radius: 10px;
          margin: auto;
          outline: none;
          display: block;
          &:hover {
            background: $main-color;
            color: white;
            transition: background-color 1s ease-out;
          }
        }
        /**********************************************************
        ************************ Sign up animation*****************
        ***********************************************************/
        &::before {
          content: '';
          position: absolute;
          z-index: -2;
          left: -50%;
          top: -50%;
          width: 200%;
          height: 200%;
          background-color: #399953;
          background-repeat: no-repeat;
          background-size: 50% 50%, 50% 50%;
          background-position: 0 0, 100% 0, 100% 100%, 0 100%;
          background-image: linear-gradient(#db1acb, #399953), linear-gradient(#fafd32, #659b20), linear-gradient(#be251a, #d17771), linear-gradient(#1e79d4, #07090e);
          animation: rotate 16s linear infinite;
        }
        
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          left: 6px;
          top: 6px;
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          background: white;
          border-radius: 5px;
        }
        @keyframes rotate {
          100% {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
  .ici{
    margin-top: 50px;
  }
}
