$main-color: #69ca62;
$remgika: #c7cda4;
.chatPage{
}
.chatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: solid;
  border-top-color: $remgika;
  border-top-width: 40px;
  padding: 10px;
  position: relative;
  min-height: 600px;
  // border: #69ca62 solid 5px;
  .chatItems {
    border: #69ca62 solid 5px;
    min-height: 600px;
    .chatBoxItem{
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      .user{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        .messageBox{
          max-width: 80%;
          background: #69ca6242;
          border-radius: 8px;
          padding: 10px;
          p{
            width: 100%;
            word-break: break-all;
            // word-wrap: normal;
            line-break: auto;
            // break-after: always;
            word-wrap: break-word;
            // text-align: justify;
          }
        }
      }
      .outer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .messageBox{
          max-width: 80%;
          background: #dad8d8;
          padding: 10px;
          border-radius: 8px;
          p{
            width: 100%;
            word-break: break-all;
            word-wrap: break-word;
          }
        }
        .userName{
          margin: 5px;
          color:#828282;
        }
      }
    }
  }
  .input {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #69ca62 solid 5px;
    background-color: #69ca62;
    .text-input{
        background-color: rgba(128, 128, 128, 0.096);
        width: 80%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        textarea {
            width: 90%;
            height: 50px;
            border-radius: 10px;
            border: none;
            background-color: rgba(128, 128, 128, 0.11);
            text-align: center;
            word-break: break-all;
            border-color: none;
            padding: 10px;
            font-size: 20px;
            color: white;
            &::placeholder{
              color: white;
              font-size: 18px;
            }
            &:focus,
            &:focus-visible {
              border: none;
              outline: none;
              border-color: red;
            }
          }
          svg {
            font-size: 20px;
            color: white;
          }
    }
    
    .emo {
      display: flex;
      justify-content: space-around;
      width: 20%;

      svg {
        font-size: 40px;
        color: white;
      }
    }
  }
  .emoji-mart.emoji-mart-light {
    width: 300px !important;
    position: absolute;
    left: 10%;
    bottom: 80px;
    .emoji-mart-preview {
      display: none;
    }
  }
}
@media (min-width: 770px){
  .chatPage{
    .chatContainer{
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}