.event-container{
    width: 100%;
    .info-container{
        width: 100%;
        .image{
            width: 100%;
            .sc-ifAKCX.geRExE.sc-EHOje.aoTUt{
                font-size:150px;
                color: #69ca62;
                font-weight: 600;
                
              }
              .sc-ifAKCX.geRExE.sc-bZQynM.dHQcjo{
                font-size: 150px;
                color: #69ca62;
                font-weight: 600;
              }
            img{
                width: 100%;
            }
        }
    }
}