.footer-container{
    background-color: #686868;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        p{
            margin: 10px;
        }
    }
}