$main-color: #69ca62;
$remgika: #c7cda4;

.groupePage {
  background-color: rgb(218, 221, 225);
  .icon-go-back {
    width: 100%;
    height: 40px;
    background-color: $remgika;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 30px;
    a,
    a:focus,
    a:visited {
      outline: none;
      color: black;
      margin-left: 15px;
    }
  }
  .info {
    .groupPictur-info {
      position: relative;
      .img_background {
        width: 100%;
        height: 300px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-bottom: 50.222%;
        border: 0px;
      }
      .name {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        color: #fff;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.65));
        display: flex;
        justify-content: center;
        border: 0px;

        div {
          width: 95%;
          text-align: left;
          p {
            font-size: 23px;
            line-height: 22px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: bold;
            letter-spacing: 1px;
            font-style: inherit;
            font-family: Helvetica, sans-serif;
          }
          span {
            font-size: 14px;
            letter-spacing: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bolder;
            font-family: sans-serif;
          }
        }
      }
    }
    .group-confi {
      .public-descr-block {
        display: flex;
        border-bottom: solid 2px rgb(180, 179, 179);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-color: white;

        .africa {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;
          svg {
            font-size: 25px;
          }
        }
        .public-descr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 10px;
          font-size: 14px;
          overflow: hidden;
          span {
            font-size: 20px;
            font-weight: 400;
          }
          p {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
      .join-group-button {
        width: 100%;
        padding: 10px;
        background-color: white;
        button {
          background-color: $remgika;
          border: 0;
          width: 90%;
          height: 30px;
          font-size: 20px;
          text-align: center;
          border-radius: 2px;
          background-image: none;
          cursor: pointer;
        }
      }
      .group-about {
        margin-top: 10px;
        display: flex;
        background-color: white;
        flex-direction: column;
        align-items: flex-start;
        .about {
          height: 30px;
          border-bottom: groove;
        }
        div {
          width: 100%;
          display: flex;
          span {
            margin-left: 10px;
            font-size: 14px;
            text-align: left;
          }
        }
      }
      .navMenu {
        .menu {
          min-width: 280px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          background-color: white;
          overflow: hidden;

          div {
            width: 30%;
            height: 60px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            svg {
              font-size: 25px;
              path {
                color: cornflowerblue;
              }
              path:hover {
                color: $main-color;
              }
            }
            button {
              width: 100%;
              font-size: 14px;
              border: 0;
              background-color: white;
              display: block;
              cursor: pointer;
            }
          }
          div:hover {
            svg {
              path {
                color: $main-color;
              }
            }
          }
          .more {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            svg {
              font-size: 55px;
              path {
                color: $remgika;
              }
              path:hover {
                color: $main-color;
              }
            }
            .total-request{
              i{
              color: white;
              position: absolute;
              justify-content: center;
              align-items: center;
              text-align: start;
              top: -3px;
              left: 40%;
                background-color: red;
                border-radius: 30%;
                padding:0px 8px ;
                line-height: 16px;
                height: 16px;
                font-size: 12px;
              }
            }
          }
        }
        .groupContent {
          margin-top: 15px;
          min-width: 280px;
          background-color: white;
          .pageContenair {
            display: flex;
            flex-direction: column;
            .postContenair {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: white;
              padding: 20px;
              overflow: hidden;
              flex-wrap: nowrap;
              width: 100%;
              .contenair {
                width: 90%;
                box-shadow: -1px -1px 4px #dcdef19f,
                  rgb(226, 216, 216) 1px 1px 4px;
                .text-contenair {
                  width: 100%;
                  border-bottom: groove;
                  textarea {
                    width: 100%;
                    cursor: auto;
                    cursor: default;
                  }
                }
                .file-contenair {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  padding: 10px;
                  .input {
                    width: 50%;
                  }
                  .submit {
                    width: 30%;
                    border: 0;
                    border-radius: 5px;
                    font-size: 20px;
                  }
                }
                #image-block {
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  img {
                    width: 30%;
                    min-width: 100px;
                    object-fit: cover;
                    border-radius: 10px;
                    padding: 10px;
                    height: 200px;
                  }
                }
              }
              .file-block {
              }
            }
          }
        }
        .adminPage {
          width: 100%;
          margin-top: 20px;
          .admin_section {
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            button {
              flex: 1 ;
              width: 100px;
              padding: 5px;
              font-size: 14px;
              height: 50px;
              border-color: #c0d1a3;
              background-color: white;
              outline: none;
              border-width: 1px;
              border-style: solid;
              border-radius: 5px;
              margin: 5px;
              cursor: pointer;
            }
            .focus.btn.btn-secondary {
              background-color: #69ca62;
            }
          }
          .admin_members {
            background-color: white;
            margin-top: 10px;
            min-height: 500px;
            position: relative;
            .admin {
              display: flex;
              margin-left: 20px;
              align-items: center;
              a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
              }
              img {
                margin-right: 5px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
              button{
                background-color:#d47963 ;
                border: none;
                border-radius: 5px;
                padding: 3px;
                margin-left: 10px;
                outline: none;
                cursor: pointer;
                &:focus{
                  outline: none;
                }
              }
            }
            .option{
              z-index: 1;
              width: 90%;
              height: 250px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #c0d1a3;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .text{
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                color: #000000;
              }
              .choice{
                button{
                  margin: 10px;
                  outline: none;
                  border: none;
                  padding:5px;
                  cursor: pointer;

                }
                .reject{
                  background-color: #d47963;
                }
              }
            }
          }
          .add_admin{
            background-color: white;
            margin-top: 10px;
            min-height: 500px;

            .member{
              display: flex;
              margin-left: 20px;
              align-items: center;
              padding: 5px;
              a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
              }
              img {                
                  margin-right: 5px;
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                  object-fit: cover;
              }
              button{
                background-color:#c0d1a3 ;
                border: none;
                border-radius: 5px;
                padding: 3px;
                margin-left: 10px;
                outline: none;
                cursor: pointer;
                &:focus{
                  outline: none;
                }
              }
            }
          }
          .remove_members{
            background-color: white;
            margin-top: 10px;
            min-height: 500px;
            position: relative;
            .member{
              display: flex;
              margin-left: 20px;
              align-items: center;
              padding: 5px;
              a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
              }
              img {
                margin-right: 5px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
              button{
                background-color: #d47963 ;
                border: none;
                border-radius: 5px;
                padding: 3px;
                margin-left: 10px;
                outline: none;
                cursor: pointer;
                &:focus{
                  outline: none;
                }
              }
            }
            .option{
              z-index: 1;
              width: 90%;
              height: 250px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #c0d1a3;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .text{
                display: flex;
                justify-content: center;
                margin-bottom: 15px;
                color: #000000;
              }
              .choice{
                button{
                  margin: 10px;
                  outline: none;
                  border: none;
                  padding:5px;
                  cursor: pointer;

                }
                .reject{
                  background-color: #d47963;
                }
              }
            }
          }
          .new_members{
            background-color: white;
            margin-top: 10px;
            min-height: 500px;

            .member{
              display: flex;
              margin-left: 20px;
              align-items: center;
              padding: 5px;
              a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
              }
              img {
                margin-right: 5px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                object-fit: cover;
              }
              button{
                background-color: #d47963 ;
                border: none;
                border-radius: 5px;
                padding: 3px;
                margin-left: 10px;
                outline: none;
                cursor: pointer;
                &:focus{
                  outline: none;
                }
              }
              .accpet{
                background-color:#c0d1a3 ;
              }
            }
          }
          .button-container{
            background-color: white;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            button {
              flex: 1 ;
              width: 100px;
              padding: 5px;
              font-size: 14px;
              height: 50px;
              border-color: #c0d1a3;
              background-color: white;
              outline: none;
              border-width: 1px;
              border-style: solid;
              border-radius: 5px;
              margin: 5px;
              cursor: pointer;
            }
            .focus.btn.btn-secondary {
              background-color: #69ca62;
            }
          }
          .update-container{
            background-color: white;
            margin-top: 10px;
            border: solid rgb(233, 224, 224);
          }
        }
      }
    }
  }
}
@media (min-width: 478px) {
  .groupePage {
    .info {
      .group-confi {
        .navMenu {
          .adminPage {
            .admin_section {
              button {
                width: 150px ;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 770px) {
  .groupePage {
    .info {
      .groupPictur-info {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      .group-confi {
        .group-about {
          margin-top: 10px;
          display: flex;
          background-color: white;
          flex-direction: column;
          align-items: flex-start;
          .about {
            height: 30px;
            border-bottom: groove;
            span{
              font-size: 16px;
            }
          }
          .about-info {
            width: 100%;
            display: flex;
            span {
              width: 50%;
              min-height: 100px;
              margin-left: 10px;
              font-size: 16px;
              display: flex;
              align-items: center;
            }
          }
        }
        .navMenu {
          .groupContent {
            .pageContenair {
              .postContenair {
              }
              .news-contenair {
                min-width: 50%;
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          .eventPage {
            max-width: 100%;
            .groupEvent {
              .addButton {
                max-width: 100%;
              }
              .title {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
              }
              .event-container {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                .event-item{
                  max-width: 70%;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 470px) {
  .event-container {
    .event-item {
      .image {
        width: 470px;
        margin: auto;
      }
    }
  }
}
@media (min-width: 1000px) {
  .groupePage {
    .info {
      .groupPictur-info {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
      .group-confi {
        .group-about {
          margin-top: 10px;
          display: flex;
          background-color: white;
          flex-direction: column;
          align-items: flex-start;
          .about {
            height: 30px;
            border-bottom: groove;
            span{
              font-size: 16px;
            }
          }
          .about-info {
            width: 100%;
            display: flex;
            span {
              width: 50%;
              min-height: 100px;
              margin-left: 10px;
              font-size: 16px;
              display: flex;
              align-items: center;
            }
          }
        }
        .navMenu {
          .groupContent {
            .pageContenair {
              .postContenair{
                min-width: 60%;
                max-width: 60%;
                margin-left: auto;
                margin-right: auto;
              }
              .news-contenair {
                min-width: 50%;
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;
              }
            }
          }
          .eventPage {
            max-width: 100%;
            .groupEvent {
              .addButton {
                max-width: 100%;
              }
              .title {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
              }
              .event-container {
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
                .event-item{
                  max-width: 50%;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}