$main-color: #69ca62;
$remgika: #c7cda4;
.mainProfile {
  background-color: white;

  .all-my-events-play {
    margin-top: 20px;
    display: flex;
    // align-items: center;
    justify-content: start;
    flex-direction: column;
    .playgroud-item {
      border-radius: 10px;
      border: solid 2px #8d8d8c;
      width: 70%;
      margin: 10px;
      height: auto;
      .userVote {
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        :first-child {
          margin-right: 10px;
        }
      }
      img {
        border-radius: 10px;
        width: 99%;
        object-fit: cover;
        height: 200px;
      }
      .addressItem {
        display: flex;
        margin: 2px;
        box-sizing: border-box;
        word-wrap: break-word;
        flex-wrap: wrap;
        span {
          color: rgb(182, 20, 20);
          margin: 1px;
        }
        p {
          margin: 2px;
          box-sizing: border-box;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .description {
        text-align: center;
        p {
          box-sizing: border-box;
          word-wrap: break-word;
        }
        button {
          background-color: rgba(255, 0, 0, 0.377);
          border: none;
          width: 50px;
          margin: 5px;
          border-radius: 10px;
          &:focus {
            outline: none;
          }
        }
        .updatePlay {
          background-color: rgba(166, 255, 0, 0.377);
          border: none;
          width: 50px;
          margin: 5px;
          border-radius: 10px;
          &:focus {
            outline: none;
          }
        }
      }
      .update-form   {
        visibility: hidden;
        display: none;
      }
      .update-form.show{
       visibility: visible !important;
        position: relative;
        width: 100%;
        top: 0px;
        z-index: 1;
        animation-name: maptransition;
        animation-duration: 1s;
        transition: width 2s linear 1s;
        background-color: rgb(238, 233, 220);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        z-index: 1;
        .close-item{
          .close{
            width: 50px;
            height: 50px;
          }
        }
        form {
          width: 100%;
          background-color: gray;
          border-radius: 5px;
          .fileNum {
            display: flex;
            width: 90%;
            margin: 7px;
            margin-left: 15px;
            button {
              width: 40%;
              height: 30px;
              border-radius: 100px;
              border: 0;
              &:focus {
                outline: none;
              }
              outline: none;
            }
            p {
              margin-left: 10px;
            }
          }
          .input-transition {
            width: 90%;
            font-weight: 300;
            letter-spacing: 3px;
            background: rgb(249, 249, 250);
            color: rgb(14, 13, 13);
            border: none;
            padding: 9px;
            margin: 7px;
            border-radius: 5px;
            &::placeholder {
              color: black;
              letter-spacing: 2px;
              font-size: 1.3em;
              font-weight: 100;
            }
            &:focus {
              color: rgb(0, 0, 0);
              outline: none;
              border-bottom: 1.2px solid pink;
              font-size: 1em;
              transition: 0.8s all ease;
              &::placeholder {
                opacity: 0;
              }
            }
          }
          .addPlay-submit,
          .addPlay-submit:focus {
            width: 100px;
            height: 40px;
            background-color: #69ca62;
            border: none;
            padding: 12px;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 11px;
            border-radius: 10px;
            margin: auto;
            outline: none;
            display: block;
            margin-bottom: 10px;
            &:hover {
              background: $main-color;
              color: white;
              transition: background-color 1s ease-out;
            }
          }
        }



      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .App {
    .all-my-events-play{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      .playgroud-item{
        width: 40%;
        .userVote {
          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          :first-child {
            margin-right: 10px;
          }
        }
        img {
          border-radius: 10px;
          width: 99%;
          // height: 100px;
          object-fit: cover;
          height: 300px;
        }
      }
    }
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App {
    .all-my-events-play{
      flex-direction: row;
      flex-wrap: wrap;
      .playgroud-item{
        width: 30%;
        .userVote {
          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
          :first-child {
            margin-right: 10px;
          }
        }
        img {
          border-radius: 10px;
          width: 99%;
          object-fit: contain;
          height: 300px;
        }
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}