$main-color: #69ca62;
$remgika: #c7cda4;
.mainProfile {
  .all-my-play {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    .playgroud-item {
      border-radius: 10px;
      border: solid 2px #8d8d8c;
      width: 70%;
      margin: 10px;
      .userVote {
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        :first-child {
          margin-right: 10px;
        }
      }
      img {
        border-radius: 10px;
        width: 99%;
        object-fit: cover;
        height: 200px;
      }
      .addressItem {
        display: flex;
        margin: 2px;
        box-sizing: border-box;
        word-wrap: break-word;
        flex-wrap: wrap;
        span {
          color: rgb(182, 20, 20);
          margin: 1px;
        }
        p {
          margin: 2px;
          box-sizing: border-box;
          word-wrap: break-word;
          word-break: break-all;
        }
      }
      .description {
        text-align: center;
        p {
          box-sizing: border-box;
          word-wrap: break-word;
        }
        button {
          background-color: rgba(255, 0, 0, 0.377);
          border: none;
          width: 50px;
          margin: 5px;
          border-radius: 10px;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
