$clip-distance: 0.05;
$main-color: #69ca62;
$remgika: #c7cda4;
.article-box{
  min-height: 80vh;

}
.icon-go-back {
  width: 100%;
  min-width: 280px;
  height: 40px;
  background-color: $remgika;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 30px;
  a,
  a:focus,
  a:visited {
    outline: none;
    color: black;
    margin-left: 15px;
  }
}
.log-container{
  min-height: 90vh;
}
form {
  background-color: rgba(182, 166, 166, 0.24);
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  .image-upload {
    font-size: 50px;
    color: #69ca62;
    cursor: pointer;
    path {
      color: rgb(44, 216, 144);
    }
  }
  #image {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    img {
      width: 110px;
      height: 100px;
      object-fit: cover;
      margin: 5px;
      border-radius: 5px;
    }
  }
  .input-transition {
    width: 95%;
    font-weight: 200;
    letter-spacing: 3px;
    background: rgb(248, 248, 248);
    color: rgb(14, 13, 13);
    border: none;
    border-bottom: 1px solid black;
    padding: 9px;
    margin: 7px;
    &::placeholder {
      color: black;
      letter-spacing: 2px;
      font-size: 1.3em;
      font-weight: 100;
    }
    &:focus {
      color: rgb(0, 0, 0);
      outline: none;
      border-bottom: 1.2px solid pink;
      font-size: 1em;
      transition: 0.8s all ease;
      &::placeholder {
        opacity: 0.2;
      }
    }
  }
  .city {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
      position: absolute;
      top: 39px;
      list-style: none;
      text-align: left;
      width: 95%;
      font-weight: 200;
      letter-spacing: 3px;
      padding: 9px;
      margin: 7px;
      background-color: #bec5ce;
      z-index: 2;
      li {
        margin-bottom: 2px;
        width: 100%;
        strong {
          font-weight: 400;
        }
        small {
          color: rgb(121, 120, 120);
        }
      }
    }
  }

  .login-submit {
    padding: 12px;
    background: $remgika;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    border-radius: 10px;
    margin: auto;
    outline: none;
    display: block;
    border: solid 1px;
    &:hover {
      background: $main-color;
      color: white;
      transition: background-color 1s ease-out;
    }
  }
  a,
  a:visited {
    text-decoration: none;
    color: rgb(8, 87, 151);
  }
}
