$main-color: #69ca62;
$remgika: #c7cda4;

.password-container {
  width: 100%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-box {
  margin-top: 50px;
  width: 50%;
  min-width: 280px;
  padding: 10px;
  text-align: left;
  position: relative;
  .text {
    h2 {
      font-weight: 600;
    }
    h3 {
      font-style: italic;
    }
  }
  .input {
    margin-top: 10px;
    input {
      width: 60%;
      min-width: 250px;
      height: 40px;
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .button {
    margin-top: 10px;
    display: flex;
    input {
      width: 100px;
      margin-left: 20px;
      min-width: 100px;
      height: 40px;
      background-color: #69ca62;
      color: white;
      font-weight: 600;
      font-size: 1.4rem;
      border: 0;
    }
    a {
      width: 100px;
      min-width: 100px;
      height: 40px;
      border: #c7cda4 solid 1px;
      color: #c7cda4;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.4rem;
    }
  }
  .confirmation {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $main-color;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    h2 {
      font-weight: 400;
      color: white;
      margin-bottom: 30px;
    }
    button {
      margin-top: 30px;
      width: 100px;
      height: 40px;
      font-size: 1.5rem;
    }
  }
  .spinner {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(227, 233, 221, 0.123);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      width: 200px;
      height: 200px;
      border-radius: 200px;
      position: relative;
      animation: rotate 0.8s steps(12, end) infinite;

      .prong {
        position: absolute;
        height: 50%;
        width: 16px;
        left: calc(50% - 8px);
        transform-origin: 100%;

        .inner {
          background: #34657f;
          border-radius: 12px;
          position: absolute;
          width: 100%;
          top: 0;
          height: 50%;
        }

        @for $i from 1 through 12 {
          &:nth-of-type(#{$i}) {
            opacity: $i * 0.08;
            transform: rotate($i * 30deg);
          }
        }
      }
    }

    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.reset-container {
  width: 100%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  .newPass {
    margin-top: 50px;
    width: 50%;
    min-width: 280px;
    padding: 10px;
    text-align: left;
    position: relative;
    .text {
      h2 {
        font-weight: 600;
      }
      p {
        font-style: italic;
      }
    }
    .input {
      margin-top: 10px;
      input {
        width: 60%;
        min-width: 250px;
        height: 40px;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.5;
      }
      strong {
        color: red;
        font-size: 15px;
      }
    }
    .submit {
      margin-top: 10px;
      display: flex;
      button {
        width: 100px;
        min-width: 100px;
        height: 40px;
        background-color: #69ca62;
        color: white;
        font-weight: 600;
        font-size: 1.4rem;
        border: 0;
      }
    }
    .confirmation {
      position: absolute;
      top: 0;
      z-index: 1;
      background-color: $main-color;
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      h2 {
        font-weight: 400;
        color: white;
        margin-bottom: 30px;
      }
      button {
        margin-top: 30px;
        width: 100px;
        height: 40px;
        font-size: 1.5rem;
      }
    }
    .spinner {
      position: absolute;
      top: 0;
      z-index: 1;
      background-color: rgba(227, 233, 221, 0.123);
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        width: 200px;
        height: 200px;
        border-radius: 200px;
        position: relative;
        animation: rotate 0.8s steps(12, end) infinite;

        .prong {
          position: absolute;
          height: 50%;
          width: 16px;
          left: calc(50% - 8px);
          transform-origin: 100%;

          .inner {
            background: #34657f;
            border-radius: 12px;
            position: absolute;
            width: 100%;
            top: 0;
            height: 50%;
          }

          @for $i from 1 through 12 {
            &:nth-of-type(#{$i}) {
              opacity: $i * 0.08;
              transform: rotate($i * 30deg);
            }
          }
        }
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
