$main-color: #69ca62;
$remgika: #c7cda4;

// /*********************************************************
//   **********************************************************
//   ************************ Playground ***********************
//   **********************************************************
//   **********************************************************/

.playground {
  .serchBar {
    width: 100%;
    .play-autocomplte {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      .inpute-auto {
        width: 70%;
        display: flex;
        flex-direction: column;
        input,
        input:focus {
          background-image: url("../img/search-64.png");
          background-repeat: no-repeat;
          background-position: -2px -5px;
          padding: 10px 20px 12px 50px;
          background-size: 50px;
          height: 45px;
          border: solid 3px #c7cda4;
          border-radius: 10px;
          box-shadow: 4px 4px 4px #00000025;
          margin-top: 13px;
          background-color: #c7cda448;
          color: black;
          font-size: 15px;
          letter-spacing: 1px;
          outline: none;
        }
        input:hover {
          background-color: white;
        }

        ul {
          // background-color: #c7cda4;
          padding: 0;
          border: solid 3px #c7cda4;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          border-width: 1px 1px 1px;
          border-style: none solid solid;
          list-style-type: none;
          text-align: left;
          border-image: initial;
          border-top: none;
          li {
            margin: 5px;
          }
        }
      }
      .camera-flex {
        width: 25%;
        display: flex;
        flex-direction: column;
        img {
          width: 100%;
          height: 70px;
          color: $remgika;
          cursor: pointer;
        }
        span {
          font-size: 13px;
          letter-spacing: 1px;
        }
      }
    }
  }
  /**********************************************************
******************** PLAYGROUND ITEMS *********************
***********************************************************/
  .categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: left;
      align-self: flex-start;
      margin-left: 5%;
    }
    hr {
      height: 5px;
      width: 90%;
      background-color: rgba(58, 57, 57, 0.335);
    }
  }
  .carouselDiv {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 0;
    .playgroud-item {
      border-radius: 20px;

      .userVote {
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
        :first-child {
          margin-right: 10px;
        }
      }
      img {
        border-radius: 20px;
        width: 99%;
        object-fit: cover;
        height: 200px;
      }
      .addressItem {
        // display: flex;
        // justify-content: space-around;
        .address {
          display: flex;
          flex-direction: column;
          margin: 2px;
          align-items: flex-start;
          span {
            color: rgb(182, 20, 20);
            margin: 1px;
          }
          p {
            margin: 2px;
          }
        }
        .addressDistance {
          display: flex;
          align-items: center;
          span {
            color: rgb(182, 20, 20);
            margin: 1px;
          }
          p {
            margin: 2px;
          }
        }
      }
      .description {
        border: solid 1px rgb(169, 197, 132);
        border-radius: 2px;
        text-align: center;
        padding: 4px;
        p {
          box-sizing: border-box;
          word-wrap: break-word;
        }
      }
      .mapLogo {
        img {
          width: 20%;
          height: 50px;
        }
      }
      // .mapBar {
      //   visibility: hidden;
      // }
      // .map-show {
      //   visibility: visible !important;
      // }
    }
    .kaHnvc {
      height: 70%;
      top: 30px;
      width: 30px;
      button {
        color: $remgika;
        width: 90%;
        height: 100%;
        font-size: 50px;
        clip-path: polygon(0 47%, 100% 100%, 100% 0);
        background-color: $remgika;
        border: 0;
      }
    }
    .dFFQiB {
      height: 70%;
      top: 30px;
      width: 30px;
      button {
        color: $remgika;
        width: 90%;
        height: 100%;
        font-size: 50px;
        clip-path: polygon(100% 49%, 0 0, 0 100%);
        background-color: $remgika;
        border: 0;
      }
    }
  }
  // .playgroud-item {
  //   // box-shadow: -1px -0.1px 50px #e8e9e260, #c7cda44d 1px 0.1px 50px;
  //   width: 70%;
  //   border-radius: 20px;
  //   margin-bottom: 20px;
  //   img {
  //     width: 100%;
  //     border-radius: 20px;
  //   }
  //   .addressItem {
  //       display: flex;
  //       justify-content: space-between;
  //     .address {
  //       display: flex;
  //       margin: 2px;
  //       span {
  //         color: rgb(182, 20, 20);
  //         margin: 1px;
  //       }
  //       p {
  //         margin: 2px;
  //       }
  //     }
  //     .addressDistance {
  //       display: flex;
  //       align-items: center;
  //       span {
  //         color: rgb(182, 20, 20);
  //         margin: 1px;
  //       }
  //       p {
  //         margin: 2px;
  //       }
  //     }
  //   }
  //   .description{
  //       margin-top: 10px;
  //       p{
  //           // font-weight: 300;
  //           // letter-spacing: 1px;
  //           // font-family: 'Raleway', sans-serif;
  //           // font-family: 'Playfair Display', serif;
  //           font-family: 'Viaoda Libre', cursive;

  //       }
  //   }
  // }
}
