$main-color: #69ca62;
$remgika: #c7cda4;

.container {
  min-width: 280px;
  min-height: 80vh;

  .store-article {
    display: flex;
    justify-content: center;
    border-bottom: solid grey 0.5px;
    .new-article {
      margin: 10px;
      a {
        display: flex;
        align-items: center;
        svg {
          font-size: 30px;
          color: green;
          margin-right: 5px;
        }
      }
    }
    .my-article {
      margin: 10px;
      a {
        display: flex;
        align-items: center;
        svg {
          font-size: 30px;
          color: rgb(0, 87, 128);
          margin-right: 5px;
        }
      }
    }
  }
  .store-items-container {
    .search-container {
      background-color: #c7cda4;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .search-and-city {
        margin: 5px;
        display: flex;
        .search {
          input {
            border: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            height: 25px;
            outline: none;
            width: 150px;
            &::placeholder {
              padding: 5px;
            }
          }
          #all-titles {
            position: absolute;
            width: 250px;
            z-index: 1;
            background-color: rgb(240, 224, 224);
            p {
              font-size: 14px;
              text-align: left;
              margin: 5px;
              svg {
                margin-right: 4px;
                font-size: 20px;
              }
            }
          }
        }

        select {
          border: none;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          height: 25px;
          width: 100px;
          background-color: rgb(161, 159, 159);
          outline: none;
          option {
            background-color: white;
          }
        }
      }
      .city-box {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          border: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          height: 25px;
          outline: none;
          width: 150px;
          &::placeholder {
            padding: 5px;
          }
        }
        ul {
          background: rgb(255, 255, 255);
          list-style: none;
          position: absolute;
          z-index: 1;
          padding: 10px;
          text-align: left;
          max-width: 250px;
          li {
            margin: 5px;
            color: rgb(0, 0, 0);
          }
          // left: 6px;
          // top: 0;
        }
        select {
          border: none;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          height: 25px;
          width: 100px;
          background-color: rgb(161, 159, 159);
          outline: none;
          option {
            background-color: white;
          }
        }
      }
      .search-button {
        border: none;
        width: 200px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        background-color: cornflowerblue;
        svg {
          font-size: 20px;
          color: white;
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .container {
    .store-items-container {
      .search-container {
          flex-direction: row;
        .search-and-city {
          margin: 5px;
          display: flex;
          .search {
            input {
            //   width: 300px;
            }
          }
        }
      }
    }
  }
}
