
.privacy-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.privacy-container, .term-container{
    width: 50%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    
    li{
        list-style: none;
    }
}
.term-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.terme-container{
    width: 50%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
    
    li{
        list-style: none;
    }
}